html,
body {
  margin: 0;
  padding: 0;
}

main {

  display: grid;
  grid-template-columns: auto 1fr;
  justify-items: center;
  row-gap: 20px;
}

main .create-main {
  grid-row: 1/2;
  display: grid;
  grid-auto-rows: auto;
  row-gap: 5px;
}

main .create-main,
h3 {
  text-align: center;
}

main .read-main {
  grid-row: 2/3;
}

main .read-main tr th {
  width: 200px;
}

main .read-main tr td {
  text-align: center;
}

main .read-main tr td:nth-child(4) {
  display: grid;
  grid-auto-flow: column;
}
